<div class="d-flex half">
    <div class="bg" style="background-image: url('/assets/bg.jpg');"></div>
    <div class="contents">

        <div class="container padding-50">
            <div class="row align-items-center justify-content-center">
                <form #signInForm="ngForm">
                    <div class="col-md-12">
                        <h3>Đăng nhập <strong>Chat application</strong></h3>
                        <p class="mb-4">Ứng dụng chat, kết nối mọi người</p>
                    </div>
                    <div class="col-md-6 d-inline-block pr-md-3 mt-2">
                        <label for="username"><b>Tài khoản</b></label>
                        <input (ngModelChange)="checkFormValid(signInForm)" name="email" ngModel type="text"
                            class="form-control mt-3" placeholder="your-email@gmail.com">
                    </div>
                    <div class="col-md-6 d-inline-block pr-md-3 mt-2">
                        <label for="password"><b>Mật khẩu</b></label>
                        <input autocomplete="on" (ngModelChange)="checkFormValid(signInForm)" ngModel name="password"
                            type="password" class="form-control mt-3" placeholder="Your Password">
                    </div>
                    <div class="col-md-12 mt-3">
                        <span>Bạn chưa có tài khoản? </span><b (click)="gotoSignUp()" class="color-green">Đăng ký
                            ngay</b>
                    </div>

                    <div class="col-md-12 mt-3">
                        <button id="button-login" (click)="login()" class="btn btn-block btn-green mt-3">
                            Đăng nhập</button>
                        <button class="btn btn-block btn-orange-hover mt-3">Đăng nhập với <svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-google" viewBox="0 0 16 16">
                                <path
                                    d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                            </svg></button>

                    </div>
                </form>
            </div>
        </div>
    </div>


</div>