.header-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    .icon-social {
        a {
            margin-right: 8px;
        }
    }
    &-left,
    &-right {
        height: 50px;
        display: flex;
        align-items: center;
        .navbar-toggler {
            display: none;
        }
    }
    &-left {
        justify-content: flex-end;
    }
    .title {
        font-weight: 500;
        font-size: 2rem;
    }
}
.custom-nav {
    .nav-link {
        color: rgba(255, 255, 255, 0.6);
    }
    .nav-link.active {
        color: white;
    }
    .dropdown-parent {
        position: relative;
        .dropdown-item-hover {
            position: absolute;
            display: none;
            list-style-type: none;
            background-color: black;
            min-width: 200px;
            border-radius: 8px;
            padding: 0;
            z-index: 12;
            li {
                background-color: transparent;
                color: rgba(255, 255, 255, 0.6);
                padding: 8px 12px;
            }
        }
        &:hover .dropdown-item-hover {
            display: block;
        }
    }
}
.icon-arrow {
    width: 8px;
    margin-left: 4px;
}
