.table-padding {
    padding: 8px 40px;
}
.table-post {
    width: 100%;
    cursor: pointer;
    thead {
        th {
            font-weight: 600;
            padding: 8px;
            color: var(--color-white);
            background-color: #8049e3;
        }
    }
}
.pagination {
    .page-item.active .page-link {
        background-color: var(--color-green);
        border-color: var(--color-green);
    }
}
