:root {
  --color-black: #373737;
  --color-red: #dd3341;
  --color-gray: #8e8e93;
  --color-gray-light: #f5f5f5;
  --color-orange: #f5a62f;
  --color-white: #ffffff;
  --color-green: #00a859;
  --color-green-chart: #f5a62f;
  --color-green-light: #00c76a;
  --ion-color-primary: #00a859;
  --color-pink: #f92186;
  --color-pink-light: #fb8b8c;
  --color-turquoise: #00b5a9;
}
